/* General Styles */

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../public/images/bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: "Times New Roman", Times, serif;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: #9cb6ba;
  border-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.title {
  font-size: 40px;
  text-align: center;
}

.tabs {
  width: 100%;
}

.tab-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab {
  padding: 10px 20px;
  background-color: #3ca5ce;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.tab:hover {
  background-color: #145875;
}

.tab-list .react-tabs__tab--selected {
  background-color: #164890;
  color: #fff;
}

.tab-panel {
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 20px;
}

/* Mobile Styles */

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  
  .container {
    padding: 10px;
  }
  
  .tab {
    padding: 8px 16px;
    font-size: 14px;
  }
}
